.Massang{
    color: red;
    font-family: 'Shizuru', cursive;
}
.forma{
    display: flex;
    & button{
        width: 50px;
        height:32.5px
    }
    & textarea{
        width: 200px;
        height:25px
    }
}
.buton{
    margin-top: 10px;
    margin-bottom: 20px ;
}
.container{
    max-width: 1300px;
    margin:0 auto;
    width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.Chats{
    // grid-column-start: 1;
    border: 5px solid black;
    background-color: gray;
    height: 100%;
}
.Chat{
    // grid-column-start: 2;
    border: 5px solid black;
    background-color: bisque;
    display: flex;
    height: 100%;

}